<table class="table">
  <thead>
  <tr>
    <th>Order #</th>
    <th>User</th>
    <th>Stripe Token</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.email %></td>
      <td><%= order.sku.product.title %></td>
      <td><%= order.customer_id %></td>
      <td><%= link_to 'Show', admin_order_path(order) %></td>
      <td><%= button_to 'Destroy', admin_order_path(order), method: :delete %></td>
    </tr>
  </tbody>
  <% end %>

<%= link_to 'Create a Order', new_admin_order_path %>

</table>