<h1>Admin::Shipping#index</h1>
<p>Find me in app/views/admin/shipping/index.html.erb</p>


<table class="table">
  <thead>
  <tr>
    <th>Order #</th>
    <th>User</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <% unless shipped %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <td><%= order.user.name %></td>
        <td><%= order.user.street%> <%= order.user.city%>, <%= order.user.state %> <%= order.user.zip %></td>
    </tr>
  </tbody>
    <% end %>
    <% end %>
</table>
