<h2>Your Cart!</h2>
<div>
  <% @cart.line_items.each do |item| %>
    <p><%= item.quantity %> &times; <%= item.product.title %></p>
      <p><%= number_to_currency(item.total_price_of_product) %></p>
  <% end %>
</div>
<div>
 <h4>Total <%= number_to_currency(@cart.total_price_for_cart) %></h4>
</div>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Your Total Payment"
            data-amount=<%= @total %>> </script>

<%= link_to 'Home', root_url %>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>