<table>


<tbody>
<% @products.each do |product| %>
    <tr>
    <div class="listing">
      <td><%= image_tag product.image_url, :size => "160x180" %></td>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>

      <td><div class="buttons">
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_admin_product_path(product) %>
        <%= button_to 'Destroy', admin_product_path(product), method: :delete %>
      </div></td>
    </div>
    </tr>
</tbody>
<% end %>
</table>