<% @products.each do |product| %>
    <% unless product.expired? %>
      <div class="panel panel-default col-md-4">
        <div class="row">
          <%= image_tag product.image_url, size: "100x150" %>
          <h3><%= product.title %></h3>
          <p><%= sanitize product.description %></p>
          <div class="price_line">
            <span class="price"><%= sprintf("$%0.02f", product.price) %></span>
            <%= link_to 'Product Details', store_path(product) %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>