<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag @product.image_url %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>TEST TEST TEST</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>



<h1><%= @product.title %></h1>

<p><%= @product.description %></p>

<p> <%= @product.price %> </p>

<!--Can add more fields to stripe-script -->
<%= form_tag charges_path do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="<%= @product.title %>"
        data-description="<%= @product.description %>"
        data-label="Claim"
        data-shipping-address="Enter shipping address here."
        data-amount=<%= (@product.price * 100).to_i %>>
     </script>
    <% @product.skus.each do |sku| %>
       <%= label_tag :size, sku.size %>
        <%= radio_button_tag :size, sku.size %>
        <% end %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= hidden_field_tag :quantity, '1' %>

<% end %>

<p> </p>