<h1><%= @product.title %></h1>

<p> <%= image_tag @product.image_url %> </p>

<p><%= @product.description %></p>

<p> <%= @product.price %> </p>
<!--Can add more fields to stripe-script -->
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="<%= @product.title %>"
        data-description="<%= @product.description %>"
        data-label="Claim"
        data-shipping-address="Enter shipping address here."
        data-amount=<%= (@product.price * 100).to_i %>></script>

<%= button_to 'Add to Cart', line_items_path(product_id: @product) %>