<h1><%= @product.title %></h1>

<p> <%= image_tag @product.image_url %> </p>

<p><%= @product.description %></p>

<p> <%= @product.price %> </p>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Your Total Payment"
        data-amount=<%= @total %>> </script>

<%= button_to 'Add to Cart', line_items_path(product_id: @product) %>