<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>

        <% if current_or_guest_user.admin? %>
            <li><%= link_to 'Products', admin_products_path %></li>
            <li><%= link_to 'Skus', admin_skus_path %></li>
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Orders', admin_orders_path %></li>
        <% else %>
        <% end %>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="pull-right"><!--<button type="button" class="btn btn-danger">--><%= link_to "Log Out", destroy_user_session_path, method: :delete %><!--</button>--></li>
        <% else %>

            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>

        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>


<!--<div class="container" id="topbar">-->
  <!--&lt;!&ndash;<header class="navbar navbar-fixed-top" >&ndash;&gt;-->
  <!--<header class="toolbar row">-->
    <!--<nav class="navbar-pills">-->
      <!--<div class="navbar-header">-->
        <!--<%#= link_to(image_tag('logo.png', class: 'logo'), root_path) %>-->

      <!--</div>-->
      <!--<%#= link_to 'Company Title!', root_path, class: 'navbar-brand' %>-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><%#= link_to 'Home', root_path %></li>-->
        <!--<li><%#=  %></li>-->
        <!--<li><%#=  %></li>-->
        <!--<%# if current_or_guest_user.admin? %>-->
            <!--<li><%#= link_to 'Products', admin_products_path %></li>-->
            <!--<li><%#= link_to 'Skus', admin_skus_path %></li>-->
            <!--<li><%#= link_to 'Users', admin_users_path %></li>-->
            <!--<li><%#= link_to 'Orders', admin_orders_path %></li>-->
            <!--<%# else %>-->
        <!--<%# end %>-->
      <!--</ul>-->
    <!--</nav>-->
  <!--</header>-->
<!--</div>-->


    <%= yield %>


</body>
</html>
